/****************** Header Info CSS ****************/
#header_info {
    padding-top: 2rem;
}
#header_info h2,p{
    margin: 0;
}
.buttons {
    display: flex;
    gap: .4rem;
}
.buttons button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(59 56 56);
    color: #fff;
    padding: .4rem 1rem;
    border-radius: .4rem;
}
.buttons button span{
  display: flex;
  flex-direction: column;
  align-items: start;
}
button b {
    font-weight: normal;
}
button:nth-child(2){
    background-color: rgb(7, 7, 128);
}
button:hover{
    background-color: rgb(7, 7, 128);
}

/****************** Net Position CSS ****************/
#net_position{
    padding: 2rem 0;
}
#net_position h2 {
    margin: 0;
}

/****************** Table CSS ****************/
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table tbody {
    background-color: rgb(33, 31, 31);
}
table th{
    padding: .5rem 0;
}
table tbody tr:nth-child(1) {
    border-top: 1px solid gray;
}
table tbody tr {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
table td {
    padding: .4rem 0;
}
#exp-btn {
    background-color: rgb(33, 31, 31);
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem .4rem;
    border-radius: .3rem;
}

/****************** OrderBook CSS ****************/
#order_book {
    padding: 2rem 0;
}
#order_book h2 {
    margin: 0;
}
.order-book-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-book-intro .intro-left{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.toogle-btn{
    display: flex;
    align-items: center;
    gap: .2rem;
}
#exit-btn {
    background-color: red;
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem .4rem;
    border-radius: .3rem;
}
#order_book table tbody tr:nth-child(1) {
    background-color: rgb(211, 79, 8);
}
#order_book table tbody tr:nth-child(2) {
    background-color: rgb(60, 57, 57);
}
#order_book table tbody tr:nth-child(3) {
    background-color: green;
}
#order_book table tbody tr:nth-child(4) {
    background-color: green;
}
#order_book table tbody tr:nth-child(5) {
    background-color: red;
}
#order_book table tbody tr:nth-child(6) {
    background-color: red;
}